<!DOCTYPE html>
<html>
<head>
    <title>One Product Page</title>
</head>
<body>
    <h3>Name: <%= product.name %></h3>
    <h3>Price: <%= product.price %></h3>

    <% images.forEach(function(image) { %>
        <img src="/images/<%= image.filename %>" alt="<%= image.altdescription %>" width="225" height="225">
        <br>
    <% }); %>

    <!-- Add to Cart Form -->
    <form action="/add-to-cart" method="POST">
        <!-- Include productId as a hidden input -->
        <input type="hidden" name="productId" value="<%= product.productid %>">
        <button type="submit">Add To Cart</button>
    </form>
    
<body>
</html>
