<!DOCTYPE html> 
<html> 
<head> 
    <title>Cart</title> 
    <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
<<<<<<< HEAD
        <h1> YOUR CART!</h1>
        <% total = 0 %>
        <% if(items.length === 0) {%>
        <h2> Wait nvm your cart is empty :( </h2>
        <% }else{ %>
=======
        <header>
            <%- include('../partials/navpartial') %>
        </header>
        <h3><%= JSON.stringify(items) %></h3>
>>>>>>> c28165c6c8cf8d928bcc2a231e67cabab53cdd2b
        <% items.forEach(function(item, index) { %>
            <div class="product">
                <h3>Price: $<%= item.price %></h3>
                <h3> Name: <%= item.name %> </h3>
                <form action="/remove-from-cart" method="POST">
                    <input type="hidden" name="productId" value="<%= item.productid %>">
                    <button type="submit">Remove from cart</button>
                </form>
                <h3> Quantity: <%=item.quantity %></h3>
                <img src="/images/<%=item.filename%>" width=255 height=255>
                <% total+= (item.quantity * item.price) %>
              
        
            </div>
        
            <br>
            <br>
        <% }); %>
        <h2>Total: $<%=total%></h2>
        <form action = "/checkout" method = "POST">  
            <button type = "submit" >Checkout </button>
        </form>
        <% } %>  
    

    </body>